/*.erp-container.action-buttons{
    width: 100%;
}

.erp-container.action-buttons .control-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 8px 16px 0px 11px;
    margin-bottom: -6px;
}

.erp-container.action-buttons .control-button {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: inline-block;
    line-height: 33px;
    min-width: 80px;
    text-align: center;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 150ms;
}

.erp-container.action-buttons .control-button.success {
    background: rgba(96, 161, 96, 0.84) !important;
}

.pay-btn {
    border-color: rgba(119, 136, 153, 0.39) !important;
    border-width: 1px !important;
    border-style: ridge !important;
}*/