.container-order-items {
    width: 400px;
    min-width: 400px !important;
    max-width: 400px !important;
}

.container-order-items .panel-order-items {
    top: 0;
    height: calc(100% - 334px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.container-order-items .panel-order-edit {
    height: 65px;
    border-right: var(--default_line);
}