.floor-map{
    height: calc(100% - 48px);
    min-width: 700px !important;
    overflow-y: auto;
}

.floor-map .table-container {
    height: calc(100% - 48px);
    min-width: 700px !important;
    overflow-y: auto;
    top: 50px;
    position: absolute;
    width: 100%;
}

.floor-map .d-table {
    position: absolute;
    text-align: center;
    font-size: 32px !important;
    color: white;
    cursor: pointer;
    box-shadow: 0 3px rgba(0,0,0,0.07);
    transition: background, background-color 300ms ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(245, 230, 99);
    border: 5px solid rgba(136, 136, 136, .5);
    touch-action: none;
    user-select: none;
}

.resize-drag {
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;
  width: 120px;
  box-sizing: border-box;
}

.screen .screen-content-flexbox {
    margin: 0 auto;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.floor-map .d-table.selected .d-label {
    top: 20px !important;
    color: white;
}

.floor-map .d-table .d-label {
    top: calc(50% - 12px) !important;
    text-align: center;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10px;
    z-index: 5;
    font-weight: 100 !important;
    color: ghostwhite;
}

.floor-map .d-table .d-table-seats {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    height: 20px;
    width: 40px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: -20px;
    margin-bottom: 4px;
    background: black;
    color: #fdd133;
    opacity: 0.2;
    z-index: 3;
}

.floor-map .d-table .order-count {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background: darkslategray;
    color: white;
    width: 40px;
    margin-top: 1px;
    margin-left: -20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
}

.floor-map .d-table .order-count.block {
    background: red !important;
}

.floor-map.active .d-table .order-count {
     display: none;
}

.floor-map .d-table .ui-resizable-handle.left {
    left: 0 !important;
}
.floor-map .d-table .ui-resizable-handle.right {
    left: 100% !important;;
}
.floor-map .d-table .ui-resizable-handle.top {
    top: 0 !important;
}
.floor-map .d-table .ui-resizable-handle.bottom {
    top: 100% !important;
}

.floor-map .d-table.selected .ui-resizable-handle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    margin-left: -25px;
    margin-top: -25px;
    background: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    cursor: grab;
    transition: all 150ms linear;
    z-index: 100;
}

.floor-map .d-table.selected {
    cursor: move;
    z-index: 50;
}

.ui-resizable-handle:hover {
    background-color: #ffa9a9 !important;
    box-shadow: 0 2px 3px rgb(222, 200, 64) !important;
}

.pos .oe_hidden {
    display: none !important;
}

.oe_hidden {
    display: none !important;
}

.d-table.selected .d-toll-box {
    position: absolute;
    width: 100%;
    height: 24px;
    top: calc(50% - 16px) !important;
    margin-bottom: -24px;
    background: transparent !important;
    cursor: grab;
    transition: all 150ms linear;
    z-index: 50;
    display: block !important;
}

.d-table.selected .d-toll-box .option-button{
    top: 0 !important;
    display: block !important;
    height: 25px !important;
}

.d-table.selected .d-toll-box .option-button .btn{
    top: 0 !important;
    margin-left: -4px !important;
    margin-right: -4px !important;
    background-color: slategray;
    color: white;
    width: 38px;
    border-radius: 0;
    border: solid 1px #dadfe7;
}

.d-table.selected .d-toll-box .option-button .btn:hover {
    background-color: rgba(99, 111, 128, 0.68) !important;
}